<div class="footer" style="position:absolute;margin-top:10px ;width: 100%;height:44%;background-color: black;color: darkgrey;text-align: center;">
    <div style="display: inline-block ; width: 45%; margin-top: 50px ;">
        <i class="fa fa-facebook-official" style="font-size: 25px; margin-bottom: 20px; margin-right: 5px;color: #3B5998">&nbsp;<span style="font-family: Raleway">Facebook</span></i>
        <i class="fa fa-instagram" style="font-size: 25px; margin-bottom: 20px;margin-right: 5px;color: #fb3958;">&nbsp;<span style="font-family: Raleway">Instagram</span> </i>
        <i class="fa fa-twitter-square" style="font-size: 25px; margin-bottom: 20px;margin-right: 5px; color: #00aced">&nbsp;<span style="font-family: Raleway">Twitter</span></i>

        <hr style="border-color: #888888 ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus, ea eligendi, et impedit itaque minima necessitatibus quaerat qui quidem, soluta ullam vitae. Cumque harum iure optio! Cupiditate, tempora, voluptatem.</p>
    </div>

    <div style="display: inline-block;width: 45%;text-align: right">
        <i class='fa fa-map-marker' style="font-size: 25px; margin-right: 5px;"><span style="font-family: Raleway">&nbsp;Room number 002</span></i><br>
        <p style="font-size: 25px; font-family: Raleway;margin-bottom:0;display: inline-block;">15th block</p><br>
        <p style="font-size: 25px; font-family: Raleway;margin-bottom:0;display: inline-block;">MIT hostels</p><br>
        <p style="font-size: 25px; font-family: Raleway;margin-bottom:0;display: inline-block;  ">Manipal Institute Of Technology</p><br>
        <br>

    </div>
    <hr style="border-color: #888888; width: 75%;" >
    <p  >Developed with <i class="fa fa-heart" style="color: red;"></i> by krishna <a href="https://github.com/k-r-a-s-h" style="text-decoration: none;"><i class="fa fa-github"></i></a></p>
</div>
    </body>
</html>