<% include ./partials/header%>
<div class="container">
    <div class="row" style="text-align:center;">
        <h1 style="text-align:center;">About Us</h1>
          <div style="width: 30% ;margin:25px auto;">
           <h4>Number of campgrounds: <%=lol1[0].COUNTER_CAMPGROUND%></h4>
           <h4></H4>
           <h4>Number of registered users: <%=lol2[0].COUNTER_USERS%></h4>
           <h4></h4>
           <h4>Number of comments: <%=lol3[0].COUNTER_COMMENTS%></h4>
           <a href="/campgrounds">Go back</a>
          </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<% include ./partials/footer%>