<% include ./partials/header%>

<div class="container">
    <% if (message.length>0) { %>
    <div class="alert alert-danger" role="alert">
        <%=message%>
    </div>
    <%}%>
    <% if (message1.length>0) { %>
    <div class="alert alert-success" role="alert">
        <%=message1%>
    </div>
    <%}%>
    <div class="row">
         <h1 style="text-align:center;">Login</h1>
         <div style="width:30%;margin:25px auto;">
             <form method="POST" action="/login">
                 <div class="form-group"><input class="form-control" type="email" name="username" placeholder="email" required></div>
                 <div class="form-group"><input class="form-control" type="password" name="password" placeholder="password" required></div>
                 <div class="form-group"><input class="btn btn-lg btn-primary btn-block" type="submit" value="Login!"></div>
                 <br>
                 <br>
                 <br>
                 <br>
                 
                 <!-- <input type="submit" value="Login!"> -->
             </form>
         </div>
    </div>
</div>
<% include ./partials/footer%>